/* Global Config */
:root {
    --main-color:#E2211C;
    --secondary-color: #E8615E;
    --white-color: #fff;
    --main-transition: 0.4s;
}
body {
    background-color: var(--main-color);
    font-family: Inter;
    min-height: 100vh;
    overflow: hidden;
}
::selection {
    background-color: var(--main-color);
    color: white;
}
.form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.25rem var(--main-color);
}

/* Main Styles */
.main .upperHeader .logo{
    padding: 50px 0 0 50px !important;
}
.main .upperHeader .shape-one{
position: absolute;
top: 19px;
right: 19px;
}
.content{
    width: 494px;
    margin: 70px 0 50px 50px;
}
.content form label {
    font-size: 18px;
    color: var(--white-color);
    line-height: 21.78px;
    margin-block: 10px;
}
.content form input , .content form select{
    width: 494px;
    height: 59px;
    gap: 8px;
    opacity: 0px;
    margin-bottom: 6px;
}
.content form button {
    display: block;
    margin: 50px auto !important;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 18px;
}
.christmasTree img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.barDownDashed{
    z-index: -1 !important;
}

/* Table */
.shapeInTable{
    background-image: url('../images/pattern4\ 1.png');
    background-repeat: repeat-x;
    
    height: 100px;
}
thead tr th{
    color: var(--main-color) !important;
}
.exportData{
    height: 100%;
    display: block;
    margin-inline-start: auto;
    text-align: end;
    margin: 20px;

}
.exportData img{
    height: 100%;
    cursor: pointer;
}
/* success popup  */
div:where(.swal2-icon).swal2-success .swal2-success-ring {
    border: 0.25em solid rgba(165,220,134,.4) !important;
}
/* wrong popup  */
div:where(.swal2-container)
div:where(.swal2-popup){
    background: var(--white-color) !important;
}
.swal2-title{
    color: black;
}
div:where(.swal2-icon).swal2-error {
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
}
div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line]{
    background-color: var(--main-color) !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
    background-color: var(--main-color) !important;
}
div:where(.swal2-container).swal2-top, div:where(.swal2-container).swal2-center, div:where(.swal2-container).swal2-bottom{
    background-color: var(--secondary-color) !important;
}
.swal2-confirm.swal2-styled{
border: none;
box-shadow:none !important ;
}
/* Media Query */
@media all and (min-width: 990px){
    .main .upperHeader .logo{
        padding: 0 0 0 50px !important;
    }
    .main .upperHeader .shape-one img{
        height: 137px !important;
    }
    .content{
        margin: 50px 0 50px 50px;
    }
    .content form button{
        margin: 25px auto !important;
    }
    .christmasTree img{
        height: 75%;
    }
    .barDownDashed{
        bottom: -15px;
    }
}

